body {
    font-family: "Georgia", serif;
    font-size: 18px;
    line-height: 1.6;
    margin: 60px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.text {
    flex: 1;
    max-width: 900px;  /* Increase width */
}


.photo img {
    width: 260px;
    border-radius: 4px;
}
.guitar-link {
    margin-top: 40px;   /* increase to 50px if you want more */
}

  
h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

h2 {
    margin-top: 40px;
}
